$fieldSize: 25;

.main {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: sans-serif;
    color: whitesmoke;

    h2 {
        text-align: center;
    }

    table, tr, td {
        border: 1px solid darkgrey;
        border-collapse: collapse;
    }
    td {
        width: $fieldSize + px;
        height: $fieldSize + px;
        cursor: pointer;
    }
    
    .water {
        background-color: darkblue;
    }
    .discovered {
        background-color: aqua;
    }
    .discovered.ship {
        background-color: red;
    }
    .j1 {
        display: flex;
        gap: 10px;
        
        align-items: flex-start;
        
        
        table {
            height: $fieldSize * 10 + px;
            
            .ship {
                background-color: gray;
            }

            .discovered.ship {
                background-color: red;
            }
        }
    }

    .ships {
        display: flex;
        flex-direction: column;
        
        .ship {
            display: flex;
            p {
                background-color: gray;
                padding: 5px;
                cursor: pointer;
            }
            p:nth-of-type(2) {
                width: 130px;
                border-radius: 0 5px 5px 0;
            }
            
            p:hover {
                background-color: darkgray;
            }
            
            .shipSelected {
                background-color: darkgray      ;
            }
        }
    }

    .hidden {
        display: none !important;
    }

}

.end {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: sans-serif;
    color: whitesmoke;
    text-align: center;
    font-size: 30px;

    margin: 25px;
    gap: 10px;

    button {
        background-color: gray;
        padding: 10px;
        font-family: sans-serif;
        color: whitesmoke;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: darkgray;
    }
}