<div class="main">
    <div class="ships">
        <div 
            class="ship" 
            *ngFor="let ship of ships; let index = index" 
            [ngClass]="{'hidden': playerBoard.ships?.includes(ship)}"
        >
            <p (click)="changeDirectionShip(index)" (click)="onSelectShip(index)">↩</p>
            <p (click)="onSelectShip(index)" [ngClass]="{'shipSelected': shipSelected == index}">
                <span>dirección: {{ship.direction}}</span><br>
                <span>Tamaño: {{ship.size}}</span>
            </p>
        </div>
    </div>
    <div>
        <h2>Tablero jugador</h2>
        <div class="j1">
            <table>
                <tr *ngFor="let row of playerBoard.board">
                    <td 
                        *ngFor="let column of row" 
                        class="water"
                        [ngClass]="{'discovered': column.discovered, 'ship': column.ship}" 
                        (click)="onHandlePlayerField(column, playerBoard)">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <h2>Tablero Máquina</h2>
        <div class="j2">
            <table>
                <tr *ngFor="let row of machineBoard.board">
                    <td 
                        *ngFor="let column of row" 
                        class="water"
                        [ngClass]="{'discovered': column.discovered, 'ship': column.ship}" 
                        (click)="onHandleMachineField(column, machineBoard)">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="end" *ngIf="gameEnd">
    <span *ngIf="machineBoard.shipsDestroyed == totalVictory; else elseBlock">¡Has ganado!</span>
    <ng-template #elseBlock>La máquina ha ganado</ng-template>
    <button (click)="reset()">Volver a jugar</button>
</div>